.connectWallet{
    /* position: relative; */
    /* left: 50px; */
    background-color: red;
    width: auto;
    /* height: 30px;
    line-height: 30px; */
    left: 15%;
    position: relative;
    font-family: 'Roboto', sans-serif;
}