.mainMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 18vw;
    background-color:green;
    /* left: 70px; */
    left: 35%;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
};