.backGround {
    background-image: url(/home/heda/Music/bibimbeat_frontend/src/components/images/bg.png);
    width: 100vw;
    height: 100vh;
    background-position:center;
    /* background-size: auto; */
}

.banner {
    position: relative;
    top: 48px;
}